.column {
    display:block;
    float: left;
    width: 15%;
    margin-right: 170px;
  }
  
.column img {
    cursor: pointer;
    width: 450px;

  }
  
.column img:hover {
    opacity: 1;
    
  }
  

.row:after {
    content: "";
    display: table;
    clear: both;
  }

.p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 80px;
      text-align: center;
      -webkit-text-fill-color: white;
      -webkit-text-stroke: 5px white;
}

body{
    background-image: url("../Resources/12546.jpg");
    background-size: cover;
    background-repeat:no-repeat;
}
