.background {
  background-image: url(../Resources/00DDUM2F1UuVX1ciAvfJqM3-9..1623763322.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body,
html {
  height: 100%;
}
.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-bottom: 10px;
}
.align-text{
    text-align: center;
}
.medusa-project{
    padding-top: 20px;
}
.text-font{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
}
footer{
  top: 800px;
  font-size: 50px;
  color: aliceblue;
  color: var(--light-color);
  position: fixed;
  right: 40%;
  justify-content: space-evenly;
  list-style: none;
}
p{
  font-size: 1.5em;
  font:bold; 
}
div{
  background-color: rgb(255,255,255,0.5);
  padding: 25px;
  margin: 10px 0;
  border: 1px solid white;
  border-radius: 4px; 
}